# Predicting CitiBike Demand

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt

## Part 1: Data Loading and Preprocessing

### Load Data

In [2]:
df_train = pd.read_csv('data/2024_08/df_train.csv', low_memory=False)
df_weather = pd.read_csv('data/2024_08/weather_data_2024.csv', low_memory=False)

In [3]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4603575 entries, 0 to 4603574
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 456.6+ MB

In [4]:
df_train.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB4E29A011E918E,electric_bike,2024-08-13 22:28:13.065,2024-08-13 22:30:43.138,McKibbin St & Bogart St,5059.02,Wilson Ave & Troutman St,4864.09,40.706237,-73.933871,40.701660,-73.927540,member
1,6389E1E171CE17CD,classic_bike,2024-08-07 09:39:52.489,2024-08-07 09:43:14.975,Bialystoker Pl & Delancey St,5335.03,Norfolk St & Broome St,5374.01,40.716226,-73.982612,40.717227,-73.988021,member
2,3F4BBEBDFB7548C0,electric_bike,2024-08-10 21:04:35.143,2024-08-10 21:21:43.846,Rivington St & Chrystie St,5453.01,Kent Ave & Division Ave,5021.05,40.721101,-73.991925,40.706564,-73.968319,member
3,C0939F0CD7ED731E,classic_bike,2024-08-13 19:21:31.275,2024-08-13 19:33:43.790,Broadway & E 21 St,6098.10,1 Ave & E 39 St,6303.01,40.739888,-73.989586,40.747140,-73.971130,member
4,4CB3950095D804D6,electric_bike,2024-08-09 22:23:42.894,2024-08-09 22:58:04.455,E 34 St & Church Ave,3318.05,48 St & 2 Ave,3283.05,40.651160,-73.945770,40.650176,-74.015606,casual
5,585D1A3FEEF4867E,electric_bike,2024-08-02 16:58:20.753,2024-08-02 17:03:15.327,McKibbin St & Bogart St,5059.02,Suydam St & Broadway,4689.03,40.706237,-73.933871,40.695440,-73.932230,member
6,BAC50AFB465C607B,electric_bike,2024-08-07 23:12:24.982,2024-08-07 23:20:00.458,Broadway & E 21 St,6098.10,1 Ave & E 39 St,6303.01,40.739888,-73.989586,40.747140,-73.971130,member
7,4F4D162103E66917,electric_bike,2024-08-06 15:20:31.886,2024-08-06 15:32:23.192,8 Ave & W 16 St,6072.11,1 Ave & E 39 St,6303.01,40.740983,-74.001702,40.747140,-73.971130,member
8,DE6F03D235645CBF,classic_bike,2024-08-13 18:51:17.796,2024-08-13 19:06:27.537,Graham Ave & Grand St,5178.06,Stanton St & Norfolk St,5445.07,40.711863,-73.944024,40.720747,-73.986274,member
9,BC3A1D7C8884C727,electric_bike,2024-08-05 00:24:16.628,2024-08-05 00:58:38.898,8 Ave & W 16 St,6072.11,5 Ave & W 131 St,7735.05,40.740983,-74.001702,40.810140,-73.939730,member

In [5]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              768 non-null    int64
 1   datetime          768 non-null    object
 2   temp              768 non-null    float64
 3   feelslike         768 non-null    float64
 4   dew               768 non-null    float64
 5   humidity          768 non-null    float64
 6   precip            768 non-null    float64
 7   precipprob        768 non-null    int64
 8   preciptype        78 non-null     object
 9   snow              768 non-null    int64
 10  snowdepth         768 non-null    int64
 11  windgust          768 non-null    float64
 12  windspeed         768 non-null    float64
 13  winddir           768 non-null    float64
 14  sealevelpressure  768 non-null    float64
 15  cloudcover        768 non-null    float64
 16  visibility        768 non-null    float64
 17  solarradiation    768 non-null    int64
 18  solarenergy       768 non-null    float64
 19  uvindex           768 non-null    int64
 20  severerisk        0 non-null      float64
 21  conditions        768 non-null    object
 22  icon              768 non-null    object
 23  stations          768 non-null    object
dtypes: float64(13), int64(6), object(5)
memory usage: 144.1+ KB

In [6]:
df_weather.head(10)

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,10021,2024-07-31T00:00:00,77.0,77.0,70.1,79.36,0.0,0,NaN,0,...,1013.9,99.8,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
1,10021,2024-07-31T01:00:00,77.0,77.0,70.1,79.40,0.0,0,NaN,0,...,1013.3,89.1,9.9,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
2,10021,2024-07-31T02:00:00,77.0,77.0,71.1,81.90,0.0,0,NaN,0,...,1013.1,100.0,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
3,10021,2024-07-31T03:00:00,77.0,77.0,71.1,82.06,0.0,0,NaN,0,...,1012.7,90.0,9.9,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
4,10021,2024-07-31T04:00:00,77.0,77.0,71.1,82.10,0.0,0,NaN,0,...,1012.1,100.0,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
5,10021,2024-07-31T05:00:00,76.9,76.9,71.1,82.30,0.0,0,NaN,0,...,1012.2,100.0,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
6,10021,2024-07-31T06:00:00,77.0,77.0,72.0,84.43,0.0,0,NaN,0,...,1012.6,100.0,9.9,15,0.1,0,NaN,Overcast,cloudy,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732"
7,10021,2024-07-31T07:00:00,78.1,78.1,71.1,79.21,0.0,0,NaN,0,...,1012.4,89.8,9.9,83,0.3,1,NaN,Partially cloudy,partly-cloudy-day,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732"
8,10021,2024-07-31T08:00:00,78.2,78.2,71.1,78.83,0.0,0,NaN,0,...,1012.3,99.3,9.9,104,0.4,1,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7..."
9,10021,2024-07-31T09:00:00,78.3,78.3,70.1,75.94,0.0,0,NaN,0,...,1012.6,99.3,9.9,139,0.5,1,NaN,Overcast,cloudy,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732"

### Merge Dataframes

In [7]:
# Sort df_train by the 'started_at' column
#df_train = df_train.sort_values('started_at')

In [8]:
# Add new 'start_date' columns to datetime format rounded to the nearest day for merging
#df_train['day'] = pd.to_datetime(df_train['started_at']).dt.round('D')
#df_weather['day'] = pd.to_datetime(df_weather['datetime']).dt.round('D')

In [9]:
#df_merged = pd.merge(df_train, df_weather, on='day', how='left')

### Clean and Prepare Data

In [10]:
df_train.head(-10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5CB4E29A011E918E,electric_bike,2024-08-13 22:28:13.065,2024-08-13 22:30:43.138,McKibbin St & Bogart St,5059.02,Wilson Ave & Troutman St,4864.09,40.706237,-73.933871,40.701660,-73.927540,member
1,6389E1E171CE17CD,classic_bike,2024-08-07 09:39:52.489,2024-08-07 09:43:14.975,Bialystoker Pl & Delancey St,5335.03,Norfolk St & Broome St,5374.01,40.716226,-73.982612,40.717227,-73.988021,member
2,3F4BBEBDFB7548C0,electric_bike,2024-08-10 21:04:35.143,2024-08-10 21:21:43.846,Rivington St & Chrystie St,5453.01,Kent Ave & Division Ave,5021.05,40.721101,-73.991925,40.706564,-73.968319,member
3,C0939F0CD7ED731E,classic_bike,2024-08-13 19:21:31.275,2024-08-13 19:33:43.790,Broadway & E 21 St,6098.10,1 Ave & E 39 St,6303.01,40.739888,-73.989586,40.747140,-73.971130,member
4,4CB3950095D804D6,electric_bike,2024-08-09 22:23:42.894,2024-08-09 22:58:04.455,E 34 St & Church Ave,3318.05,48 St & 2 Ave,3283.05,40.651160,-73.945770,40.650176,-74.015606,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4603560,38FD7D8E16816AC9,electric_bike,2024-08-31 15:35:53.969,2024-08-31 16:12:00.649,Henry St & Atlantic Ave,4531.05,N 12 St & Bedford Ave,5450.04,40.690893,-73.996123,40.720798,-73.954847,member
4603561,3BDAD1143141FAEF,electric_bike,2024-08-21 19:45:27.492,2024-08-21 19:56:25.075,Berkeley Pl & 7 Ave,4051.01,Parkside Ave & Parade Pl,3376.04,40.675147,-73.975232,40.653200,-73.966390,member
4603562,E3CD0013606E72AF,electric_bike,2024-08-17 16:16:10.281,2024-08-17 16:30:25.909,6 Ave & Canal St,5500.07,4 Ave & E 12 St,5788.15,40.722438,-74.005664,40.732647,-73.990110,casual
4603563,893D7B066F924BBC,electric_bike,2024-08-16 18:38:31.132,2024-08-16 19:04:34.490,Henry St & Atlantic Ave,4531.05,Parkside Ave & Parade Pl,3376.04,40.690893,-73.996123,40.653200,-73.966390,casual
4603564,4E2501150F0399DB,electric_bike,2024-08-28 15:48:13.240,2024-08-28 15:56:50.707,Jackson Ave & 49 Ave,6170.09,N 12 St & Bedford Ave,5450.04,40.742930,-73.952037,40.720798,-73.954847,casual

In [11]:
# Check for duplicates
duplicates = df_train.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

In [12]:
# Check for missing values
missing_values = df_train.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     2962
start_station_id       2962
end_station_name      12410
end_station_id        13353
start_lat              2962
start_lng              2962
end_lat               13332
end_lng               13332
member_casual             0
dtype: int64

In [13]:
# Compute percentage of missing values for each column
missing_percentage = (df_train.isnull().sum() / len(df_train)) * 100
print("Percentage of missing values in each column:")
print(missing_percentage)

Percentage of missing values in each column:
ride_id               0.000000
rideable_type         0.000000
started_at            0.000000
ended_at              0.000000
start_station_name    0.064341
start_station_id      0.064341
end_station_name      0.269573
end_station_id        0.290057
start_lat             0.064341
start_lng             0.064341
end_lat               0.289601
end_lng               0.289601
member_casual         0.000000
dtype: float64

In [14]:
# Drop rows with missing values where & missing < 5%
threshold = 5.0
cols_to_check = missing_percentage[missing_percentage < threshold].index
df_train = df_train.dropna(subset=cols_to_check)

In [15]:
# Check results
missing_values = df_train.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

#### Borough Identification

In [16]:
# Extrapolate borough boundaries
from shapely.geometry import Point
from shapely import wkt

# Load the borough boundaries CSV
borough_df = pd.read_csv('data/2024_08/Borough_Boundaries_20251104.csv')

# Parse the geometry column (it's in WKT format)
boroughs = {}
for _, row in borough_df.iterrows():
    borough_name = row['BoroName']
    geometry = wkt.loads(row['the_geom'])  # Convert WKT string to Shapely geometry
    boroughs[borough_name] = geometry

print(f"Loaded {len(boroughs)} boroughs: {list(boroughs.keys())}")

Loaded 5 boroughs: ['Staten Island', 'Bronx', 'Brooklyn', 'Queens', 'Manhattan']

In [17]:
# Function to find which borough a point is in
def get_borough(lat, lng):
    point = Point(lng, lat)  # Note: Point takes (longitude, latitude)
    for borough_name, geometry in boroughs.items():
        if geometry.contains(point):
            return borough_name
    return 'Unknown'

In [18]:
# Execute the function for Start Locations
df_train['start_borough'] = df_train.apply(
    lambda row: get_borough(row['start_lat'], row['start_lng']), 
    axis=1
)

print("\nBorough distribution:")
print(df_train['start_borough'].value_counts())

Borough distribution:
Manhattan    2847392
Brooklyn     1263642
Queens        327405
Bronx         149429
Name: start_borough, dtype: int64

In [19]:
# Execute the function for End Locations
df_train['end_borough'] = df_train.apply(
    lambda row: get_borough(row['end_lat'], row['end_lng']), 
    axis=1
)

print("\nEnd borough distribution:")
print(df_train['end_borough'].value_counts())

End borough distribution:
Manhattan    2840304
Brooklyn     1270190
Queens        326190
Bronx         150848
Unknown          336
Name: end_borough, dtype: int64

In [20]:
df_train.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_borough,end_borough
0,5CB4E29A011E918E,electric_bike,2024-08-13 22:28:13.065,2024-08-13 22:30:43.138,McKibbin St & Bogart St,5059.02,Wilson Ave & Troutman St,4864.09,40.706237,-73.933871,40.701660,-73.927540,member,Brooklyn,Brooklyn
1,6389E1E171CE17CD,classic_bike,2024-08-07 09:39:52.489,2024-08-07 09:43:14.975,Bialystoker Pl & Delancey St,5335.03,Norfolk St & Broome St,5374.01,40.716226,-73.982612,40.717227,-73.988021,member,Manhattan,Manhattan
2,3F4BBEBDFB7548C0,electric_bike,2024-08-10 21:04:35.143,2024-08-10 21:21:43.846,Rivington St & Chrystie St,5453.01,Kent Ave & Division Ave,5021.05,40.721101,-73.991925,40.706564,-73.968319,member,Manhattan,Brooklyn
3,C0939F0CD7ED731E,classic_bike,2024-08-13 19:21:31.275,2024-08-13 19:33:43.790,Broadway & E 21 St,6098.10,1 Ave & E 39 St,6303.01,40.739888,-73.989586,40.747140,-73.971130,member,Manhattan,Manhattan
4,4CB3950095D804D6,electric_bike,2024-08-09 22:23:42.894,2024-08-09 22:58:04.455,E 34 St & Church Ave,3318.05,48 St & 2 Ave,3283.05,40.651160,-73.945770,40.650176,-74.015606,casual,Brooklyn,Brooklyn
5,585D1A3FEEF4867E,electric_bike,2024-08-02 16:58:20.753,2024-08-02 17:03:15.327,McKibbin St & Bogart St,5059.02,Suydam St & Broadway,4689.03,40.706237,-73.933871,40.695440,-73.932230,member,Brooklyn,Brooklyn
6,BAC50AFB465C607B,electric_bike,2024-08-07 23:12:24.982,2024-08-07 23:20:00.458,Broadway & E 21 St,6098.10,1 Ave & E 39 St,6303.01,40.739888,-73.989586,40.747140,-73.971130,member,Manhattan,Manhattan
7,4F4D162103E66917,electric_bike,2024-08-06 15:20:31.886,2024-08-06 15:32:23.192,8 Ave & W 16 St,6072.11,1 Ave & E 39 St,6303.01,40.740983,-74.001702,40.747140,-73.971130,member,Manhattan,Manhattan
8,DE6F03D235645CBF,classic_bike,2024-08-13 18:51:17.796,2024-08-13 19:06:27.537,Graham Ave & Grand St,5178.06,Stanton St & Norfolk St,5445.07,40.711863,-73.944024,40.720747,-73.986274,member,Brooklyn,Manhattan
9,BC3A1D7C8884C727,electric_bike,2024-08-05 00:24:16.628,2024-08-05 00:58:38.898,8 Ave & W 16 St,6072.11,5 Ave & W 131 St,7735.05,40.740983,-74.001702,40.810140,-73.939730,member,Manhattan,Manhattan

In [21]:
# Keep only Manhattan, Brooklyn Start and End Boroughs
df_train = df_train[df_train['start_borough'].isin(['Manhattan', 'Brooklyn'])]
df_train = df_train[df_train['end_borough'].isin(['Manhattan', 'Brooklyn'])]

In [22]:
# Check results after dropping
print("\nBorough distribution:")
print(df_train['start_borough'].value_counts())

print("\nEnd borough distribution:")
print(df_train['end_borough'].value_counts())

Borough distribution:
Manhattan    2793422
Brooklyn     1220857
Name: start_borough, dtype: int64

End borough distribution:
Manhattan    2788330
Brooklyn     1225949
Name: end_borough, dtype: int64

In [23]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4014279 entries, 0 to 4603571
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  start_borough       object
 14  end_borough         object
dtypes: float64(4), object(11)
memory usage: 490.0+ MB

In [24]:
# Export cleaned dataframe to CSV
df_train.to_csv('data/2024_08/df_train_cleaned.csv', index=False)

In [25]:
# Convert datetime columns from string to datetime format
df_train['started_at'] = pd.to_datetime(df_train['started_at'])
df_train['ended_at'] = pd.to_datetime(df_train['ended_at'])

df_train['trip_duration'] = (df_train['ended_at'] - df_train['started_at']).dt.total_seconds() / 60

In [26]:
df_train.head(5)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_borough,end_borough,trip_duration
0,5CB4E29A011E918E,electric_bike,2024-08-13 22:28:13.065,2024-08-13 22:30:43.138,McKibbin St & Bogart St,5059.02,Wilson Ave & Troutman St,4864.09,40.706237,-73.933871,40.701660,-73.927540,member,Brooklyn,Brooklyn,2.501217
1,6389E1E171CE17CD,classic_bike,2024-08-07 09:39:52.489,2024-08-07 09:43:14.975,Bialystoker Pl & Delancey St,5335.03,Norfolk St & Broome St,5374.01,40.716226,-73.982612,40.717227,-73.988021,member,Manhattan,Manhattan,3.374767
2,3F4BBEBDFB7548C0,electric_bike,2024-08-10 21:04:35.143,2024-08-10 21:21:43.846,Rivington St & Chrystie St,5453.01,Kent Ave & Division Ave,5021.05,40.721101,-73.991925,40.706564,-73.968319,member,Manhattan,Brooklyn,17.145050
3,C0939F0CD7ED731E,classic_bike,2024-08-13 19:21:31.275,2024-08-13 19:33:43.790,Broadway & E 21 St,6098.10,1 Ave & E 39 St,6303.01,40.739888,-73.989586,40.747140,-73.971130,member,Manhattan,Manhattan,12.208583
4,4CB3950095D804D6,electric_bike,2024-08-09 22:23:42.894,2024-08-09 22:58:04.455,E 34 St & Church Ave,3318.05,48 St & 2 Ave,3283.05,40.651160,-73.945770,40.650176,-74.015606,casual,Brooklyn,Brooklyn,34.359350

In [27]:
print(df_train['trip_duration'].describe())

count    4.014279e+06
mean     1.370771e+01
std      2.010477e+01
min      1.000333e+00
25%      5.580983e+00
50%      9.673200e+00
75%      1.681856e+01
max      1.498657e+03
Name: trip_duration, dtype: float64

#### Remove outliers based on trip duration

In [28]:
# Calculate IQR
Q1 = df_train['trip_duration'].quantile(0.25)
Q3 = df_train['trip_duration'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Find outliers
outliers = df_train[(df_train['trip_duration'] < lower_bound) | 
                    (df_train['trip_duration'] > upper_bound)]
print(f"\nNumber of outliers: {len(outliers)} ({len(outliers)/len(df_train)*100:.2f}%)")

Number of outliers: 231226 (5.76%)

In [29]:
# Remove outliers using IQR method
df_train = df_train[(df_train['trip_duration'] >= lower_bound) & (df_train['trip_duration'] <= upper_bound)]

In [30]:
# Drop rides shorter than 1 minute
df_train = df_train[df_train['trip_duration'] > 1]

In [31]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3783053 entries, 0 to 4603571
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  start_borough       object
 14  end_borough         object
 15  trip_duration       float64
dtypes: datetime64[ns](2), float64(5), object(9)
memory usage: 490.7+ MB

#### Remove non rush-hour times

In [ ]:
# Drop- non rush hour times, define rush hour or citibike - 7-10am, 5-7pm only on weekdays (remove August 3rd-4th, 10th-11th, 17th to 18th, 24th and 25th, 31st)

weekend_dates = [
    '2024-08-03', '2024-08-04', 
    '2024-08-10', '2024-08-11',  
    '2024-08-17', '2024-08-18',  
    '2024-08-24', '2024-08-25',  
    '2024-08-31']

rows_to_remove = pd.to_datetime(weekend_dates).date

df_train['date'] = df_train['started_at'].dt.date

initial_count = len(df_train)
df_train = df_train[~df_train['date'].isin(rows_to_remove)]

print(f"Removed {initial_count - len(df_train)} rows from specified August weekend dates")
print(f"Remaining rows: {len(df_train)}")

Removed 1036456 rows from specified August weekend dates
Remaining rows: 2746597

In [34]:
# Extract hour from started_at
df_train['hour'] = df_train['started_at'].dt.hour

# Define rush hour times
rush_hours = [7, 8, 9, 17, 18]

# Filter to keep only rush hour rides
df_train = df_train[df_train['hour'].isin(rush_hours)]

# Drop the temporary hour column
df_train = df_train.drop('hour', axis=1)

print(f"Remaining rows after filtering for rush hours: {len(df_train)}")

Remaining rows after filtering for rush hours: 1013116

In [44]:
df_weather.head(30)

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations,day
0,10021,2024-07-31T00:00:00,77.0,77.0,70.1,79.36,0.000,0,NaN,0,...,99.8,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
1,10021,2024-07-31T01:00:00,77.0,77.0,70.1,79.40,0.000,0,NaN,0,...,89.1,9.9,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
2,10021,2024-07-31T02:00:00,77.0,77.0,71.1,81.90,0.000,0,NaN,0,...,100.0,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
3,10021,2024-07-31T03:00:00,77.0,77.0,71.1,82.06,0.000,0,NaN,0,...,90.0,9.9,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
4,10021,2024-07-31T04:00:00,77.0,77.0,71.1,82.10,0.000,0,NaN,0,...,100.0,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
5,10021,2024-07-31T05:00:00,76.9,76.9,71.1,82.30,0.000,0,NaN,0,...,100.0,9.9,0,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
6,10021,2024-07-31T06:00:00,77.0,77.0,72.0,84.43,0.000,0,NaN,0,...,100.0,9.9,15,0.1,0,NaN,Overcast,cloudy,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732",2024-07-31
7,10021,2024-07-31T07:00:00,78.1,78.1,71.1,79.21,0.000,0,NaN,0,...,89.8,9.9,83,0.3,1,NaN,Partially cloudy,partly-cloudy-day,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732",2024-07-31
8,10021,2024-07-31T08:00:00,78.2,78.2,71.1,78.83,0.000,0,NaN,0,...,99.3,9.9,104,0.4,1,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
9,10021,2024-07-31T09:00:00,78.3,78.3,70.1,75.94,0.000,0,NaN,0,...,99.3,9.9,139,0.5,1,NaN,Overcast,cloudy,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732",2024-07-31
10,10021,2024-07-31T10:00:00,78.2,78.2,71.1,78.83,0.000,0,NaN,0,...,99.3,9.9,362,1.3,4,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
11,10021,2024-07-31T11:00:00,79.1,79.1,71.0,76.20,0.000,0,NaN,0,...,99.8,9.9,295,1.1,3,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-07-31
12,10021,2024-07-31T12:00:00,83.0,87.6,71.0,67.28,0.000,0,NaN,0,...,89.1,9.9,608,2.2,6,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
13,10021,2024-07-31T13:00:00,83.9,88.8,70.9,65.08,0.000,0,NaN,0,...,89.1,9.9,271,1.0,3,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
14,10021,2024-07-31T14:00:00,85.0,89.5,70.0,60.97,0.000,0,NaN,0,...,88.6,9.9,248,0.9,2,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
15,10021,2024-07-31T15:00:00,87.3,92.2,70.0,56.70,0.000,0,NaN,0,...,52.4,9.9,902,3.2,9,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
16,10021,2024-07-31T16:00:00,87.4,90.2,66.9,50.72,0.000,0,NaN,0,...,89.1,9.9,599,2.2,6,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
17,10021,2024-07-31T17:00:00,88.2,90.6,66.0,48.04,0.000,0,NaN,0,...,88.6,9.9,194,0.7,2,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
18,10021,2024-07-31T18:00:00,88.2,90.6,65.9,47.79,0.000,0,NaN,0,...,88.2,9.9,285,1.0,3,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
19,10021,2024-07-31T19:00:00,88.3,91.2,66.7,49.07,0.000,0,NaN,0,...,32.0,9.9,113,0.4,1,NaN,Partially cloudy,partly-cloudy-day,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
20,10021,2024-07-31T20:00:00,88.2,90.6,66.0,47.88,0.000,0,NaN,0,...,98.2,9.9,11,0.0,0,NaN,Overcast,cloudy,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
21,10021,2024-07-31T21:00:00,81.1,84.9,70.7,70.79,0.003,100,rain,0,...,99.1,7.9,0,0.0,0,NaN,"Rain, Overcast",rain,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
22,10021,2024-07-31T22:00:00,74.8,74.8,69.5,83.72,0.020,100,rain,0,...,94.6,5.6,0,0.0,0,NaN,"Rain, Overcast",rain,"72505394728,KTEB,KLGA,F1417,KNYC,72503014732",2024-08-01
23,10021,2024-07-31T23:00:00,74.3,74.3,71.0,89.45,0.000,0,NaN,0,...,32.6,9.9,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
24,10021,2024-08-01T00:00:00,75.2,75.2,71.0,86.83,0.000,0,NaN,0,...,87.9,9.9,0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
25,10021,2024-08-01T01:00:00,76.0,76.0,69.2,79.43,0.000,0,NaN,0,...,3.1,9.9,0,0.0,0,NaN,Clear,clear-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
26,10021,2024-08-01T02:00:00,76.0,76.0,69.1,79.26,0.000,0,NaN,0,...,1.7,9.9,0,0.0,0,NaN,Clear,clear-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
27,10021,2024-08-01T03:00:00,77.0,77.0,68.1,74.05,0.000,0,NaN,0,...,1.7,9.9,0,0.0,0,NaN,Clear,clear-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
28,10021,2024-08-01T04:00:00,77.0,77.0,68.0,73.89,0.000,0,NaN,0,...,1.7,9.9,0,0.0,0,NaN,Clear,clear-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01
29,10021,2024-08-01T05:00:00,76.9,76.9,68.0,74.04,0.000,0,NaN,0,...,1.7,9.9,0,0.0,0,NaN,Clear,clear-night,"72502594741,72505394728,KTEB,KLGA,F1417,KNYC,7...",2024-08-01

### Merge Dataframes

In [ ]:
# Sort df_train by the 'started_at' column
#df_train = df_train.sort_values('started_at')

In [ ]:
#df_train.head(30)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_borough,end_borough,trip_duration,date,day
1891252,B743A57E14D3A694,classic_bike,2024-08-01 07:00:00.170,2024-08-01 07:09:54.156,W 51 St & Rockefeller Plaza,6700.14,West End Ave & W 60 St,7059.08,40.759738,-73.978116,40.772370,-73.990050,member,Manhattan,Manhattan,9.899767,2024-08-01,2024-08-01
1627144,CA6B198E9A07F6B9,classic_bike,2024-08-01 07:00:01.084,2024-08-01 07:08:32.861,W 54 St & 9 Ave,6920.05,E 51 St & Lexington Ave,6659.01,40.766040,-73.987370,40.757148,-73.972078,member,Manhattan,Manhattan,8.529617,2024-08-01,2024-08-01
1077465,E6B1133BC8AAAB14,electric_bike,2024-08-01 07:00:02.197,2024-08-01 07:09:58.287,W 31 St & 7 Ave,6331.01,E 23 St & 1 Ave,5929.01,40.749156,-73.991600,40.736502,-73.978095,member,Manhattan,Manhattan,9.934833,2024-08-01,2024-08-01
1360956,5D97A65D3420F371,electric_bike,2024-08-01 07:00:02.243,2024-08-01 07:07:01.293,West St & Liberty St,5184.08,Church St & Worth St,5359.13,40.711444,-74.014847,40.716885,-74.006501,member,Manhattan,Manhattan,6.984167,2024-08-01,2024-08-01
620538,CA27E2C1C6D814F6,electric_bike,2024-08-01 07:00:02.614,2024-08-01 07:08:34.238,E 32 St & Park Ave,6280.12,E 56 St & 3 Ave,6691.11,40.745712,-73.981948,40.759345,-73.967597,member,Manhattan,Manhattan,8.527067,2024-08-01,2024-08-01
29878,9FECCB6E205D7147,electric_bike,2024-08-01 07:00:03.515,2024-08-01 07:02:54.941,E 103 St & 2 Ave,7436.16,E 102 St & Park Ave,7488.24,40.788640,-73.943600,40.790483,-73.950331,member,Manhattan,Manhattan,2.857100,2024-08-01,2024-08-01
962355,9A7C51D1007E1913,electric_bike,2024-08-01 07:00:04.349,2024-08-01 07:04:29.205,12 Ave & W 40 St,6765.01,W 54 St & 11 Ave,6955.05,40.760875,-74.002777,40.768333,-73.992573,member,Manhattan,Manhattan,4.414267,2024-08-01,2024-08-01
788322,FECE080E81A176A4,electric_bike,2024-08-01 07:00:05.685,2024-08-01 07:09:45.477,Pier 61 at Chelsea Piers,6233.04,North Moore St & Greenwich St,5470.12,40.746872,-74.008210,40.720195,-74.010301,member,Manhattan,Manhattan,9.663200,2024-08-01,2024-08-01
529446,A067A0DE8A909CE5,electric_bike,2024-08-01 07:00:07.052,2024-08-01 07:06:14.733,Broadway & W 38 St,6560.15,1 Ave & E 30 St,6079.03,40.752973,-73.987349,40.741444,-73.975361,member,Manhattan,Manhattan,6.128017,2024-08-01,2024-08-01
1868444,64D7A7FB06706C65,classic_bike,2024-08-01 07:00:07.880,2024-08-01 07:20:25.362,E 1 St & 1 Ave,5593.01,Madison Ave & E 51 St,6659.09,40.723356,-73.988650,40.758630,-73.975130,casual,Manhattan,Manhattan,20.291367,2024-08-01,2024-08-01
149155,5B77E00707DF2509,electric_bike,2024-08-01 07:00:08.553,2024-08-01 07:06:44.616,Pacific St & Troy Ave,4122.03,Clarkson Ave & E 40 St,3423.10,40.676860,-73.936070,40.655920,-73.940680,member,Brooklyn,Brooklyn,6.601050,2024-08-01,2024-08-01
839196,DDC481E99D56E950,electric_bike,2024-08-01 07:00:10.702,2024-08-01 07:12:09.344,Henry St & Grand St,5294.04,Broadway & Battery Pl,4962.01,40.714211,-73.981095,40.704633,-74.013617,member,Manhattan,Manhattan,11.977367,2024-08-01,2024-08-01
1918713,01294D009501D3AA,electric_bike,2024-08-01 07:00:10.789,2024-08-01 07:04:35.026,Broadway & W 36 St,6441.01,W 48 St & Rockefeller Plaza,6626.11,40.750977,-73.987654,40.757769,-73.979294,member,Manhattan,Manhattan,4.403950,2024-08-01,2024-08-01
457582,941A57F34F5AB548,electric_bike,2024-08-01 07:00:11.562,2024-08-01 07:25:09.528,Broadway & Kent Ave,5134.09,W 51 St & 6 Ave,6740.10,40.710888,-73.968329,40.760660,-73.980420,member,Brooklyn,Manhattan,24.966100,2024-08-01,2024-08-01
32699,979B46D5E6C7B5D8,electric_bike,2024-08-01 07:00:11.751,2024-08-01 07:05:39.358,West Thames St,5114.06,Hudson St & Reade St,5359.10,40.708347,-74.017134,40.716250,-74.009106,member,Manhattan,Manhattan,5.460117,2024-08-01,2024-08-01
1296822,8A4B8CC969BCF6B8,electric_bike,2024-08-01 07:00:12.595,2024-08-01 07:11:50.449,Thompson St & Bleecker St,5721.07,8 Ave & W 31 St,6450.05,40.728401,-73.999688,40.750585,-73.994685,member,Manhattan,Manhattan,11.630900,2024-08-01,2024-08-01
1466106,5304363F0BA216EA,electric_bike,2024-08-01 07:00:13.614,2024-08-01 07:14:20.348,Adam Clayton Powell Blvd & W 138 St,7855.03,5 Ave & E 78 St,7161.08,40.816960,-73.942296,40.776321,-73.964274,member,Manhattan,Manhattan,14.112233,2024-08-01,2024-08-01
1392290,F7AAB45C735B9C79,electric_bike,2024-08-01 07:00:13.644,2024-08-01 07:04:48.304,Myrtle Ave & Fleet Pl,4628.07,Front St & Jay St,4895.03,40.693534,-73.981909,40.702461,-73.986842,member,Brooklyn,Brooklyn,4.577667,2024-08-01,2024-08-01
1910272,3CD8D79D165ABD3B,electric_bike,2024-08-01 07:00:14.657,2024-08-01 07:04:09.185,E 51 St & Lexington Ave,6659.01,W 48 St & Rockefeller Plaza,6626.11,40.757148,-73.972078,40.757769,-73.979294,member,Manhattan,Manhattan,3.908800,2024-08-01,2024-08-01
1012603,BFA83418F66E39C4,classic_bike,2024-08-01 07:00:17.302,2024-08-01 07:11:08.229,W 18 St & 9 Ave,6190.03,W 47 St & 6 Ave,6667.04,40.743534,-74.003676,40.758397,-73.982550,member,Manhattan,Manhattan,10.848783,2024-08-01,2024-08-01
1326815,F716B05B08D2CD8B,classic_bike,2024-08-01 07:00:17.771,2024-08-01 07:08:23.655,Pier 61 at Chelsea Piers,6233.04,Carmine St & 6 Ave,5763.03,40.746872,-74.008210,40.730386,-74.002150,member,Manhattan,Manhattan,8.098067,2024-08-01,2024-08-01
1359395,8CE78CBCC8D7CC94,electric_bike,2024-08-01 07:00:18.329,2024-08-01 07:15:09.474,Adam Clayton Powell Blvd & W 130 St,7774.02,5 Ave & E 63 St,6904.06,40.812346,-73.946168,40.766368,-73.971518,member,Manhattan,Manhattan,14.852417,2024-08-01,2024-08-01
1852030,8951E2B2896BA6E5,electric_bike,2024-08-01 07:00:19.168,2024-08-01 07:15:55.743,E 53 St & 3 Ave,6617.02,W 20 St & 5 Ave,6098.02,40.757632,-73.969306,40.739730,-73.991040,member,Manhattan,Manhattan,15.609583,2024-08-01,2024-08-01
1216458,6798E85CBFF05703,electric_bike,2024-08-01 07:00:19.542,2024-08-01 07:08:40.067,Lafayette St & E 8 St,5788.13,W 21 St & 6 Ave,6140.05,40.730207,-73.991026,40.741740,-73.994156,member,Manhattan,Manhattan,8.342083,2024-08-01,2024-08-01
933135,05259E24045828B2,electric_bike,2024-08-01 07:00:19.645,2024-08-01 07:05:13.562,E 81 St & York Ave,7084.12,E 72 St & Park Ave,6998.08,40.772838,-73.949892,40.771183,-73.964094,member,Manhattan,Manhattan,4.898617,2024-08-01,2024-08-01
1700765,1B24AD70728D95A4,classic_bike,2024-08-01 07:00:19.903,2024-08-01 07:06:51.414,Clinton St & Cherry St,5190.09,Stanton St & Norfolk St,5445.07,40.711471,-73.986726,40.720747,-73.986274,member,Manhattan,Manhattan,6.525183,2024-08-01,2024-08-01
213297,93C2CD01E7969EE4,electric_bike,2024-08-01 07:00:19.975,2024-08-01 07:13:02.187,Ave A & E 14 St,5779.11,1 Ave & E 68 St,6822.09,40.730311,-73.980472,40.765005,-73.958185,member,Manhattan,Manhattan,12.703533,2024-08-01,2024-08-01
1142250,F5E83447016C9435,electric_bike,2024-08-01 07:00:20.744,2024-08-01 07:02:31.572,W 34 St & Hudson Blvd E,6535.04,W 37 St & 10 Ave,6611.02,40.755167,-74.000599,40.756604,-73.997901,member,Manhattan,Manhattan,2.180467,2024-08-01,2024-08-01
1540383,ABD652CC70609055,electric_bike,2024-08-01 07:00:22.598,2024-08-01 07:06:20.963,Montague St & Clinton St,4677.06,President St & Henry St,4307.13,40.694271,-73.992327,40.682800,-73.999904,casual,Brooklyn,Brooklyn,5.972750,2024-08-01,2024-08-01
553991,FB9170F9E6E73D1F,classic_bike,2024-08-01 07:00:23.703,2024-08-01 07:29:30.125,Rugby Rd & Beverley Rd,3113.06,Lincoln Rd & Ocean Ave,3633.08,40.644350,-73.965910,40.660500,-73.962600,member,Brooklyn,Brooklyn,29.107033,2024-08-01,2024-08-01

In [45]:
# Add new 'start_date' columns to datetime format rounded to the nearest day for merging
df_train['day'] = pd.to_datetime(df_train['started_at']).dt.round('D')
df_weather['day'] = pd.to_datetime(df_weather['datetime']).dt.round('D')

In [46]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1013116 entries, 1891252 to 4359070
Data columns (total 18 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1013116 non-null  object
 1   rideable_type       1013116 non-null  object
 2   started_at          1013116 non-null  datetime64[ns]
 3   ended_at            1013116 non-null  datetime64[ns]
 4   start_station_name  1013116 non-null  object
 5   start_station_id    1013116 non-null  object
 6   end_station_name    1013116 non-null  object
 7   end_station_id      1013116 non-null  object
 8   start_lat           1013116 non-null  float64
 9   start_lng           1013116 non-null  float64
 10  end_lat             1013116 non-null  float64
 11  end_lng             1013116 non-null  float64
 12  member_casual       1013116 non-null  object
 13  start_borough       1013116 non-null  object
 14  end_borough         1013116 non-null  object
 15  trip_duration       1013116 non-null  float64
 16  date                1013116 non-null  object
 17  day                 1013116 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(5), object(10)
memory usage: 146.9+ MB

In [ ]:
#df_merged = pd.merge(df_train, df_weather, on='day', how='left')